@font-face {
    font-family: 'calculator';
    src: 
        url(~@/assets/fonts/Calculator.woff2),
        url(~@/assets/fonts/Calculator.woff);
        font-weight: normal;
        font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#app {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}